{extend name="public/base"}
{block name="title"}{$cur.site_title}{/block}
{block name="css"}
<style type="text/css">
html,body{background: #fff;}
</style>
{/block}
{block name="jsValue"}
<script type="text/javascript">
var data = {area : '{$cur.area}',is_hot:'{$cur.is_hot}'};
</script>
{/block}
{block name="body"}
<div class="jxMall">
       <img src="/static/index/images/jx.png" alt="">
       <div class="jxMallCount">
            <div class="jxMallAuto">
                 <div class="jxMallTitle">
                      <p>MORE</p>
                      <p>PRODUCT</p>
                 </div>
                 <p>{$cur.page_title}</p>
            </div>
       </div>
   </div>
    <div class="cartoonChoiceness">
       <div class="mallList">
           <ul></ul>
       </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__IJS__/product_more.min.js"></script>
{/block}