{extend name="public/base"}
{block name="title"}出错了{/block}
{block name="css"}
<style type="text/css">
html,body{background: #fff;}
</style>
{/block}
{block name="body"}
<div class="activePage activeEnd"  >
      <div class="activeAuto">
            <div class="activeEndTs">
                <p>{$msg.title}</p>
                <h4>{$msg.sub_title}</h4>
            </div>
             <div class="mall_80 mallMaringNone" >
                 <a href="/" class="gotoBook ripple">进入书城</a>
             </div>
      </div>
 </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__IJS__/activity_errpage.min.js"></script>
{/block}
