{extend name="public/base"}
{block name="title"}{$site_title}{/block}
{block name="css"}
<style type="text/css">
html,body{
    background: #fff;
    height: 100%;
}
body{
     background: url("{$cur.bg}") no-repeat top center;
     background-size: cover;
     background-attachment: fixed;
}
</style>
{/block}
{block name="body"}
<div class="activePage activeStar">
     <img src="/static/index/images/topActive.png" class="topActive" alt="">
     <img src="/static/index/images/leftActive.png" class="leftActive" alt="">
     <img src="/static/index/images/botActive.png" class="botActive" alt="">
      <div class="activeAuto">
              <div class="moneyOne">冲{$cur.money}元</div>
              <div class="moneyWhite">
                  <h4>实得{$cur.send_money}书币</h4>
                  <p>
                      即日起至{:date('m月d日H:i',$cur['end_time'])}
                  </p>
              </div>
             <div class="mall_80 mallMargin">
                 <a href="javascript:;" class="promptlyRob ripple" onclick="javascript:doPay('{$cur.id}');">立即开抢</a>
                 <a href="/" class="gotoMall ripple">进入书城</a>
             </div>
      </div>
 </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__IJS__/activity_index.min.js"></script>
{/block}