{extend name="public/base"} 
{block name="title"}漫画采集设置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				漫画入库基础信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">入库密码：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">接口状态：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">同步封面图：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">同步内容图：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">更新设置：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">重复规则：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">基本更新规则：</label>
							<div class="layui-input-block">
								<input type="text" name="password" id="newPass" class="layui-input" value="">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__JS__/admin.website.info.js"></script>
{/block}
